body{
    text-align: center;
    background-color: rgb(79, 124, 207);
    font-family: sans-serif;
}

.container{
    text-align: center;
}

h1{
    margin-left:20px;
}
li{
    margin: 0% 30%;
    margin-top: 5px;
    text-decoration: none;
    background-color: blue;
    color: white;
    display: block;
    border-radius: 10px;
}
li:hover{
    background-color: gray;
}
li p{
    display: inline-block;
}
li a{
    margin-left: 5px;
    background-color: red;
}
.name{
    width: 40%;
    margin-left: 10%;
    margin-right: 0%;
    text-align: left;
}

.contact{
    width: 40%;
    text-align: right;
}
button{
    background-color: lightslategray;
    margin-left: 4%;
}

input{
    margin-left: 3% ;
}

form{
    width: 100%;
    height: 40px;
}